#inputimage {
      border: 2px solid rgba(240, 248, 255, 0.5);
      border-radius: 5px;
}

.bounding-box {
      position: absolute;
      box-shadow: 0 0 0 3px #e7f51e inset;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: crosshair;
}