body {
	margin: 0;
	font-family: -apple-system, 'Segoe UI',  'Oxygen', sans-serif;
	color: rgb(222, 226, 230);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: radial-gradient(#584e44, #82796E);
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
